<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="layout.html"/>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Dahboard Edit</title>
      <script src="//cdnjs.cloudflare.com/ajax/libs/ractive/0.7.3/ractive.min.js"></script>
      <script src="${tg.url('/javascript/ractive-transitions-slide.min.js')}"></script>
      <script src="${tg.url('/javascript/axw-req.js')}"></script>
    <style>
        /*<![CDATA[*/
        #extractions {
            padding: 5px 10px;
        }

        .extractionbox {
            margin-top: 25px;
        }

        .extractionarrow {
            top: -10px;
            width: 26px;
            font-size: 26px;
            margin: auto;
            display: block;
            color: #bf3e11;
        }

        .extraction {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 5px 10px;
            min-height: 90px;
	    padding-top: 30px;
	    padding-bottom: 15px;
        }

        .extraction.disabled {
            opacity: 0.4;
        }

        .error {
            font-size: 12px;
        }

        .glyphicon-remove {
            color: #880000;
        }

        .extraction h3 {
            margin-top: 5px;
        }

        .extraction h3 .glyphicon {
            font-size: 14px;
        }

        .addextraction a {
            font-size: 22px;
            display: block;
        }

	.extractions-actions {
	    position: absolute;
	    top: -30px;
	    right: 0px;
	}

        .extractions-actions span {
            cursor: pointer;
        }

        .extractions-actions span:hover {
            font-size: 16px;
        }

	#visualization {
            padding: 30px 0 30px 0;
	}

        /*]]>*/
    </style>
</head>

<body>
  <div class="row">
    <div class="col-md-12">
      <h1>Editing <span id="dashboard_name">${dashboard.name}</span></h1>
    </div>
  </div>
  <div class="row">
    ${form_dashboard_name.display(form_dashboard_name_values)}
  </div>
  <h3>Widgets:</h3>
  <div class="row" id="extractions">
      <script type="text/html" id="Extractions_template">
        {{#each extractions: extractionidx}}

        <div class="col-md-12 extractionbox" intro-outro='slide'>
            <div class="extraction row">
                <div class="col-md-4">
                    <select value="{{.extraction_id}}" class="form-control" on-change="selectExtraction(extractionidx, .)">
                        <option py:for="e in all_extractions" value="${e.uid}">${e.uid} - ${e.name}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select value="{{.visualization}}" class="form-control">
                        <option py:for="visualization in visualizationtypes" value="${visualization}">
                            ${visualization}
	                      </option>
                    </select>
                    {{#if .usual_visualization}}
                    {{#if .usual_visualization != 'table'}}
                      <span>usually used visualization: {{.usual_visualization}}</span>
                    {{/if}}
                    {{/if}}
		</div>
		<div class="col-md-4">												   
                    <input value="{{.graph_axis}}" class="form-control"/>
                    <h3>
                        <div class="extractions-actions pull-right">
                            <span on-click="raiseExtraction(.)"
                                  class="glyphicon glyphicon-arrow-up"></span>
                            <span on-click="lowerExtraction(.)"
                                  class="glyphicon glyphicon-arrow-down"></span>
                            &nbsp;
                            <span on-click="deleteExtraction(.)"
                                  class="glyphicon glyphicon-remove"></span>
			                      <span on-click="saveExtraction(.)"
                                  class="glyphicon glyphicon-floppy-save"></span>
                        </div>
                    </h3>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="col-md-12 extractionbox">
            <span class="extractionarrow glyphicon glyphicon-chevron-down"></span>
            <div class="row addextraction">
                <div class="col-xs-offset-5 col-xs-2">
                    <a class="btn btn-success" on-click="addExtraction()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
          </div>
      </script>  
  </div>
  <script><![CDATA[
    var ExtractionsEditor = Ractive.extend({
        template: '#Extractions_template',
        data: {},
        oninit: function () {
            var self = this;
            self.updateExtractions();
        },
        updateExtractions: function () {
            var self = this;
            self.set('loaded', false);
            $.get("${tg.url(['/dashboard/extractions', str(dashboard.uid)])}", function (res) {
		var extractions = [];
		res.dashboard.extractions.forEach(function (e) {
		    var extraction = {};
		    extraction.uid = e.uid;
		    extraction.index = e.index;
		    extraction.extraction_id = e.extraction_id;
		    extraction.visualization = e.visualization;
		    extraction.graph_axis = e.graph_axis;
		    extraction.name = e.extraction.name;
		    extractions.push(extraction);
		})
		extractions.sort(function (a, b) {
		    return a.index > b.index;
		})
                self.set('extractions', extractions);
                self.set('loaded', true);
		self.set('extractions_length_at_last_update', self.get('extractions').length);
            });
        },
	      checkSaved: function () {
	    var self = this;
	    return self.get('extractions_length_at_last_update') == self.get('extractions').length;
	},
        addExtraction: function () {
            var self = this;
            var index = 0;
            if (self.get('extractions').length)
                index = self.get('extractions')[self.get('extractions').length - 1].index + 1;
            self.push('extractions', {
                'editing': true,
                'index': index,
		'uid': null,
            });
        },
        performAction: function (extraction, action, promise) {
            var self = this;
            promise.done(function (response) {
                toastr.info("Successfully " + action + " extraction");
                extraction.modified = false;
                self.updateExtractions();
            }).fail(function (response) {
		        var extraction_error = response.responseJSON.errors || response.responseJSON.detail
                toastr.error("Failed to " + action + " extraction: " + JSON.stringify(extraction_error));
            });
        },
        raiseExtraction: function (extraction) {
            var self = this;
	          if (!self.checkSaved()) return;
            self.performAction(
                    extraction,
                    "update",
                    AXW.Requests.PUT(
                            "${tg.url(['/dashboard/set_extraction_index', str(dashboard.uid)])}",
                            {uid: extraction.uid, index: extraction.index - 1}
                    )
            );
        },
        lowerExtraction: function (extraction, status) {
            var self = this;
	    if (!self.checkSaved()) return;
            self.performAction(
                    extraction,
                    "update",
                    AXW.Requests.PUT(
                            "${tg.url(['/dashboard/set_extraction_index', str(dashboard.uid)])}",
                            {uid: extraction.uid, index: extraction.index + 1}
                    )
            );
        },
        deleteExtraction: function (extraction) {
            var self = this;
	    if (!self.checkSaved() && extraction.modified) self.updateExtractions();
	    if (!self.checkSaved()) return;
            if (confirm("Really delete this extraction from dashboard?")) {
                self.performAction(
                        extraction,
                        "delete",
                        AXW.Requests.POST(
                            "${tg.url(['/dashboard/delete_extraction', str(dashboard.uid)])}",
			    {uid: extraction.uid}
                        )
                );
            }
        },
        saveExtraction: function (extraction) {
            var self = this;
            self.performAction(
                extraction,
                "save",
                AXW.Requests.POST(
                    "${tg.url(['/dashboard/save_extraction', str(dashboard.uid)])}",
                    extraction
                ).done(function(response){
                    toastr.info('Succesfully added widget!');
                }).fail(function(response){
                    toastr.error(response.responseText);
                })
            );
        },
	      selectExtraction: function (extractionidx, extraction) {
	    var self = this;
	    $.get("${tg.url('/dashboard/get_extraction/')}" + extraction.extraction_id, function (res) {
		self.set('extractions.' + extractionidx + '.name', res.extraction.name);
		self.set('extractions.' + extractionidx + '.usual_visualization', res.extraction.visualization);
		self.set('extractions.' + extractionidx + '.graph_axis', res.extraction.graph_axis);
	    })
	}
    });
    var extractionseditor = new ExtractionsEditor({el: "#extractions"});
    ]]></script>
</body>
</html>
