*.py[co]
.idea

# Default development database
devdata.db
# I copied it for local testing using sqlite:////path for datasource
devdata.copy.db

# Default data directory
data/*

# Packages
.eggs
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

test.db
moletest

venv
deploy-demo.retry
penv
ansible/.vagrant/

/ansible-demo/

# emacs files
\#*\#
.\#*

# depot files
depot/
/cover/

geckodriver.log
etl/tests/e2e/testse2e.db

.webassets-cache/
etl/public/assets/