[Unit]
Description=Circus process manager
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecReload=/usr/bin/circusctl reload
ExecStart=/usr/local/bin/circusd /etc/circus/circusd.ini --log-level debug --log-output /var/log/circus/circusd.log

[Install]
WantedBy=default.target
